<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/" style="font-size: 30px"
      >Flight Booking</a
    >
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            role="presentation"
            >Find Flights..</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/history"
            routerLinkActive="active"
            role="presentation"
            >Booking Management</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/airline"
            routerLinkActive="active"
            role="presentation"
            >Airline Management</a
          >
        </li>
      </ul>
    </div>
    <button
      routerLink="/login"
      class="btn btn-outline-success m-sm-1"
      *ngIf="!isUserLoggedIn"
    >
      <strong>Sign In</strong>
    </button>
    <button
      routerLink="/signup"
      class="btn btn-outline-success m-sm-1"
      *ngIf="!isUserLoggedIn"
    >
      <strong>Sign Up</strong>
    </button>
    <button
      class="btn btn-outline-danger m-sm-1"
      *ngIf="isUserLoggedIn"
      (click)="logout()"
    >
      <strong>Sign Out</strong>
    </button>
  </div>
</nav>
