<div class="container mt-4" style="width: 650px">
  <div class="card">
    <h3 class="card-header font-weight-bold bg-dark text-white">Sign Up</h3>
    <div class="card-body m-auto" style="width: 600px">
      <form
        class="form-register m-auto"
        #registerform="ngForm"
        (ngSubmit)="Register()"
      >
        <div class="col-lg-12">
          <div class="form-group m-sm-1">
            <label for="inputUsername" class="sr-only"
              ><strong>User Name</strong></label
            >
            <input
              type="text"
              name="username"
              id="inputUsername"
              class="form-control"
              required
              minlength="4"
              [(ngModel)]="model.username"
            />
          </div>

          <div class="form-group m-sm-1">
            <label for="inputEmail" class="sr-only"
              ><strong>Email</strong></label
            >
            <input
              type="email"
              name="email"
              id="inputEmail"
              class="form-control"
              required=""
              [(ngModel)]="model.email"
            />
          </div>

          <div class="form-group m-sm-1">
            <label for="inputPassword" class="sr-only"
              ><strong>Password</strong></label
            >
            <input
              type="password"
              name="password"
              id="inputPassword"
              class="form-control"
              required=""
              [(ngModel)]="model.password"
            />
          </div>

          <div class="form-group m-sm-1">
            <label for="contactNumber" class="sr-only"
              ><strong>Contact Number</strong></label
            >
            <input
              type="number"
              name="contact"
              id="contactNumber"
              class="form-control"
              required=""
              [(ngModel)]="model.contactNumber"
            />
          </div>

          <div class="form-group m-sm-1">
            <div class="form-item">
              <label for="userGender"><strong>Gender:</strong></label>
              <input
                id="male"
                type="radio"
                value="M"
                name="userGender"
                [(ngModel)]="model.gender"
                class="m-lg-1"
              />
              <label for="male">Male</label>
              <input
                id="female"
                type="radio"
                value="F"
                name="userGender"
                [(ngModel)]="model.gender"
                class="m-lg-1"
              />
              <label for="female">Female</label>
            </div>
          </div>
          <div class="form-group m-sm-1">
            <p class="alert alert-success" *ngIf="registrationSuccess">
              <strong>Registration success.</strong> {{ successMessage }}
            </p>
            <p class="alert alert-danger" *ngIf="registrationError">
              <strong>Registration Error.</strong> {{ errorMessage }}
            </p>
          </div>
          <div class="form-group m-sm-1 text-center">
            <button class="btn btn-success" type="submit">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div class="row register-form">
  <div class="col-md-12" style="margin-top: -70px">
    <br />
    <h5 class="register-heading">Register Yourself!</h5>
    <div class="form-group">
      <p *ngIf="showSuccessMsg" class="alert alert-success">
        <strong>{{ messageContent }}</strong>
      </p>
      <p *ngIf="showErrorMsg" class="alert alert-danger">
        <strong>{{ messageContent }}</strong>
      </p>
    </div>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username" />
        <span
          class="text-danger"
          *ngIf="
            (registerFormControl.username.touched || submitted) &&
            registerFormControl.username.errors?.required
          "
        >
          Username is required
        </span>
        <span
          class="text-danger"
          *ngIf="
            (registerFormControl.username.touched || submitted) &&
            registerFormControl.username.errors?.invalidSpace
          "
        >
          Space is not allowed
        </span>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" />
        <span
          class="text-danger"
          *ngIf="
            (registerFormControl.email.touched || submitted) &&
            registerFormControl.email.errors?.required
          "
        >
          Email is required
        </span>
        <span
          class="text-danger"
          *ngIf="
            registerFormControl.email.touched &&
            registerFormControl.email.errors?.email
          "
        >
          Enter a valid email address
        </span>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <span
          class="text-danger"
          *ngIf="
            (registerFormControl.password.touched || submitted) &&
            registerFormControl.password.errors?.required
          "
        >
          Password is required
        </span>
        <span
          class="text-danger"
          *ngIf="
            registerFormControl.password.touched &&
            registerFormControl.password.errors?.invalidPassword
          "
        >
          Password should have minimum 6 characters, at least 1 uppercase
          letter, 1 lowercase letter and 1 number
        </span>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
        />
        <span
          class="text-danger"
          *ngIf="
            (registerFormControl.confirmPassword.touched || submitted) &&
            registerFormControl.confirmPassword.errors?.required
          "
        >
          Confirm Password is required
        </span>
        <span
          class="text-danger"
          *ngIf="
            registerFormControl.confirmPassword.touched &&
            registerFormControl.confirmPassword.errors?.passwordMismatch
          "
        >
          Passwords does not match
        </span>
      </div>
      <br />
      <div class="form-group">
        <button type="submit" class="btn btn-success">Register</button>
      </div>
    </form>
  </div>
</div> -->
